{% extends 'base.html' %}

{% load static %}

{% block content %}
<link rel="stylesheet" href="{% static 'css/main.css' %}">

<div style="position: relative; margin-top: 50px;">
    <div class="detail">
        <h1>{{ book.title }}</h1>
        <form  method="POST" action="{% url 'book_detail' book.id  %}">
            {% csrf_token %}
            <input type="hidden" name="book_id" value="{{ book.id }}">
            <input type="text" name="chapter" placeholder="Введіть номер глави" aria-label="Введіть номер глави">
            <button type="submit" id="refreshButton">Запустить</button>
        </form>
    
        <button id="stop-task-button">Зупинити задачу</button>
    </div>

<table class="table">
    <tr>
        <th>Chapters</th>
    </tr>
    {% for chapter in book.chapters.all %}
    <tr>
           <td> <a href="{% url 'chapter_detail' chapter.id %}">{{ chapter.title }}</a>
             <a style="float: right;" href="{% url 'chapter_delete' chapter.id  %}">Delete</a></td>
    </tr>
    {% endfor %}
</table>

<script>
    // Функція для отримання CSRF токена
    function getCookie(name) {
        let cookieValue = null;
        if (document.cookie && document.cookie !== '') {
            const cookies = document.cookie.split(';');
            for (let i = 0; i < cookies.length; i++) {
                const cookie = cookies[i].trim();
                if (cookie.substring(0, name.length + 1) === (name + '=')) {
                    cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                    break;
                }
            }
        }
        return cookieValue;
    }
    
    const csrftoken = getCookie('csrftoken');
    
    document.getElementById('stop-task-button').addEventListener('click', function() {
        fetch("{% url 'stop_task' %}", {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json',
                'X-CSRFToken': csrftoken
            }
        })
        .then(response => response.json())
        .then(data => {
            alert("Статус задачі: " + data.status);
        })
        .catch(error => console.error('Error:', error));
    
    });
    
    document.addEventListener("DOMContentLoaded", function() {
  // Перевіряємо, чи встановлено лічильник перезавантажень у sessionStorage
  let reloadCount = sessionStorage.getItem("reloadCount");
  if (reloadCount !== null && parseInt(reloadCount) > 0) {
      // Зменшуємо лічильник на 1 та зберігаємо оновлене значення
      sessionStorage.setItem("reloadCount", parseInt(reloadCount) - 1);
    // Перезавантажуємо сторінку через 2 секунди
    setTimeout(function() {
        window.location.reload();
    }, 4000);
  }

  // Обробник кліку для кнопки
  document.getElementById("refreshButton").addEventListener("click", function() {
    // Встановлюємо лічильник на 5 перезавантажень
    sessionStorage.setItem("reloadCount", 5);
    // Початкове перезавантаження (опційно можна викликати setTimeout, якщо потрібна затримка)
    window.location.reload();
});
});

  </script>

</div>
{% endblock %}